@keyframes moveUp {
    0% {
        opacity: 0;
        top: 40%;
    }

    30% {
        opacity: .2;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes movingUpDown {
    0% {
        opacity: 0;
        transform: translateY(-4px)
    }

    30% {
        opacity: .7;
    }

    40% {
        transform: translateY(-2px)
    }

    50% {
        opacity: 1;
        transform: translateY(0px)
    }

    80% {
        opacity: .4;
    }

    100% {
        opacity: 0;
        transform: translateY(3px)
    }
}

@keyframes movingLeftRight {
    0% {
        opacity: 0;
    }

    30% {
        opacity: .7;
    }

    40% {
        transform: translateX(2px)
    }

    50% {
        opacity: 1;
        transform: translateX(4px)
    }

    80% {
        opacity: .4;
    }

    100% {
        opacity: 0;
        transform: translateX(5px)
    }
}