

.background-image {
    z-index: -10;

    height: 100vh;
    width: 100%;
    background-image: url('./images/jumbotron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);  

}

.hero-text {
    font-family: $primary-font;
    width: 75%;
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    top: 45%;
    left: 50%;
    transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px));
    animation: moveUp 1s linear;

    &--1 {
        h1 {
            padding: 10px;
            background-color: rgba(#000000, .3);
        }
    }

    h1, h3 {
        // background: rgba(#fff, .6);
        font-weight: 400;
        text-shadow: 2px 1px 3px rgba(0,0,0,0.79);
    }

    // h3 {
    //     margin: 5px auto;
    //     width: 65%;
        
    // }

    .hero-button {
        position: relative;
        font-size: 1rem;
        margin: 20px auto;
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-radius: 35px;
        width: 210px;
        transition: all .3s;
        color: #141414;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(#000000,.2);
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 35px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
            background-color: #fff;
        }

        // &:hover {
        //     color: #000000;
        //     transform: scale(1.03); 

        // }

        #button-icon {
            position: relative;
            animation: movingUpDown 1.8s linear infinite ;
        }
    }

}


.navbar {
    color: $color-grey-dark;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 80px;
    background: rgba(#fff, .8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-brand {
        height: 50px;
        width: 50px;
    }

    .nav-items {
        .nav-item {
            float: left;
            transition: .2s;

            &:not(:last-child) {
                margin-right: 50px;
            }

            &:hover {
                color: $color-blue;
                transform: scale(1.05) translateY(-1px);
            }
        }
    }

}

.main-content {
    color: $color-grey-dark;
}

.section-header {
    text-align: center;  
}

.header {
    font-size: 1.5rem;
    text-transform: uppercase;    
}

.section-description {
    width: 60%;
    text-align: center;
    margin: 30px auto 30px;
}

.section-info {
    padding: 60px 0;
    .section-info-features {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }

}

.section-products {
    padding: 60px 0;
    background-color: $grey-background;

    .product-list {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .product {
            margin: 15px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transition: all .2s;
            &:hover {
                transform: scale(1.1);
            }

            .product-image {
                width: 200px;
                height: 200px;
                border-radius: 2px;
                overflow: hidden;
            }
        }


    }
}

.section-contact {
    padding: 60px 0;

    .contact-info {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .contact-info-item {
            margin-top: 30px;
            text-align: center;
        }
    }
}

.section-intro {
    padding: 60px 0;

    &-content {
        margin-top: 30px;
        padding: 0 80px;

        &-item {
            &:not(:last-child) {
                margin-bottom: 20px;    
            }
        }
    }
}

.section-factory {
    padding: 60px 60px;

    .factory-pictures {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .picture {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .picture > img {
            max-width: 500px;
            border-radius: 2px;
            overflow: hidden;
            transition: all 0.2s;
            &:hover {   
                transform: scale(1.1);
            }
        }
    }
}

.section-product-detail {
    padding: 60px 0;
    background-color: #fff;

    .product-list {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .product {
            margin: 15px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transition: all .2s;

            &:hover {
                transform: scale(1.1);
            }

            .product-image {
                width: 200px;
                height: 200px;
                border-radius: 2px;
                overflow: hidden;

                
            }
        }


    }
}

.see-more-button {
    margin-top: 40px;
    text-align: center;
    transition: all .2s;

    &:hover {
        transform: scale(1.1);
    }

    
    a {
        margin: auto;
        height: 45px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;    
        border-radius: 20px;
        background-color: transparent;
        border: solid #257ae9 1px; 
        transition: all .3s;

        &:hover {
            background-color: #257ae9;
            color: $color-white;
        }
    }

    #see-more-button-icon {
        animation: movingLeftRight 2s linear infinite;
    }
}

footer {
    .footer-content {
        margin: auto;
        font-size: .9rem;
        background-color: $footer-background;
        color: $color-grey-dark;
        padding: 25px 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        
        .footer-item {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer-item-header {
                font-size: 1.1rem;
                margin-bottom: 15px;
            }

        }
    }
    

}

#map {
    width: 300px;
    height: 120px;
    border-radius: 2px;
    overflow: hidden;
    margin: 30px auto;
}

    // .owl-carousel {
    //     max-height: 40vh;
    // }

#slideshow { 
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    max-height: 40vh;
    
    .imageContainer {
        transition: all .3s;

        &:not(:first-child) {
            display: none;
        }
    }
}


.body-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
    
    &--1 {
        background-image: url('./images/slide-1.jpg');
    }

    &--2 {
        background-image: url('./images/slide-2.jpg');
    }

    &--3 {
        background-image: url('./images/slide-3.jpg');
    }
}